$button-color: #FA8334;
$dark-text: #271033;
$light-text: #388697;
$background-color: #FFE882;
$list-background: #FFFD77;

body {
    background-color: $list-background;
    color: $dark-text;
}

h1 {
    font-size: 5.5rem !important;
}

.btn {
    background-color: $button-color !important;
}

.main-content {
    background-color: $background-color;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px;
}

#btn-sml {
    background-color: $button-color;
    line-height: 20px;
    height: 23px;
    font-size: 12px;
}

#btn-sml:hover {
    background-color: rgb(255, 158, 94);
}

label {
    color: $light-text !important;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid $button-color !important;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: $button-color !important;
}

[class*=devoured-burgers] {
    margin: 0 3%;
}

li {
    height: 35px;
    padding: 5px;
    margin: 5px;
    background: $list-background;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

.title {
    text-align: center;
}

.burger-lists {
    display: flex;
    justify-content: space-around;
}

.change-devoured {
    float: right;
}

.lettuce {
    height: 20px;
    margin: 30px -20px 0px -20px;
    background-color: rgb(33, 172, 33);
}

.cheese {
    height: 15px;
    margin: 0 -20px;
    background-color: rgb(255, 217, 0);
}

.ketchup {
    height: 10px;
    margin: 0 -20px;
    background-color: red;
}
.burger {
    height: 80px;
    background-color: rgb(94, 20, 20);
    margin: 0 -20px 30px -20px;
}

.burger-add {
    display: flex;
    border: 1px solid #d1d1d1;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    background-color: $list-background;
}

@media only screen and (max-width: 768px) {
    .burger-lists {
        flex-direction: column;
    }
    .burger-add {
        width: 100%;
        padding: 20px;
        flex-direction: column;
    }
}