<li>
	{{burger_name}}

	<button class="change-devoured btn waves-effect waves-light" id="btn-sml" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour{{else}}Eat Again{{/if}}
	</button>
</li>
